---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2856e841-b60d-4463-b877-db1d21b6bcc1
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2856e841-b60d-4463-b877-db1d21b6bcc1
      Original-Request:
      - req_NiiUtzSuxz1AIP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1TGXEdIBOqvOFDrfNoWeouwH",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 3,
            "exp_year": 2027,
            "fingerprint": "hsksJCaNjbEGzjqP",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1774844131,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 30 Mar 2026 04:15:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1TGXEdIBOqvOFDrfNoWeouwH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar787cd38a2.test.gumroad.com%3A31337%2Fl%2Fj%21&metadata[purchase]=mqD2rBddISsw8G7D1a2p7w%3D%3D&transfer_group=816&payment_method_types[0]=card&off_session=true&confirm=true&payment_method=pm_1TGXEdIBOqvOFDrfNoWeouwH&statement_descriptor_suffix=edgar787cd38a2
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 33837af2-7c78-4606-aec0-d36ae4b20508
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 33837af2-7c78-4606-aec0-d36ae4b20508
      Original-Request:
      - req_mCVh0uQZu0lQ90
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TGXEdIBOqvOFDrf1x2Gqy0H",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3TGXEdIBOqvOFDrf1x2Gqy0H_secret_NyjfpE7xD3HU3QIDOugHsyq9d",
          "confirmation_method": "automatic",
          "created": 1774844131,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "You bought http://edgar787cd38a2.test.gumroad.com:31337/l/j!",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3TGXEdIBOqvOFDrf1qAPoJbM",
          "livemode": false,
          "metadata": {
            "purchase": "mqD2rBddISsw8G7D1a2p7w=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1TGXEdIBOqvOFDrfNoWeouwH",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar787cd38a2",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "816"
        }
  recorded_at: Mon, 30 Mar 2026 04:15:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3TGXEdIBOqvOFDrf1qAPoJbM?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3TGXEdIBOqvOFDrf1qAPoJbM",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3TGXEdIBOqvOFDrf19a2gNZm",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1775433600,
            "balance_type": "payments",
            "created": 1774844131,
            "currency": "usd",
            "description": "You bought http://edgar787cd38a2.test.gumroad.com:31337/l/j!",
            "exchange_rate": null,
            "fee": 33,
            "fee_details": [
              {
                "amount": 33,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 67,
            "reporting_category": "charge",
            "source": "ch_3TGXEdIBOqvOFDrf1qAPoJbM",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "STRIPE* EDGAR787CD38A2",
          "captured": true,
          "created": 1774844131,
          "currency": "usd",
          "customer": null,
          "description": "You bought http://edgar787cd38a2.test.gumroad.com:31337/l/j!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "mqD2rBddISsw8G7D1a2p7w=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 58,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3TGXEdIBOqvOFDrf1x2Gqy0H",
          "payment_method": "pm_1TGXEdIBOqvOFDrfNoWeouwH",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": "750026",
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 3,
              "exp_year": 2027,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "hsksJCaNjbEGzjqP",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "104115107115746",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU05FZ3NJQk9xdk9GRHJmKOTxp84GMgZpq7fRF5c6LBaVLWwREuHW60AUPoewKMWglmBQ-iUI8KGwu6fFbV8PcjHq7JsWSPTxzXSi",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar787cd38a2",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "816"
        }
  recorded_at: Mon, 30 Mar 2026 04:15:32 GMT
recorded_with: VCR 6.2.0
